.vr_form label { display: block; float: left; width: 130px; }
.vr_form input[type="text"], .vr_form input[type="password"],
.vr_form input[type="email"] {
	padding: 4px 8px;
	background: #f0f0f0;
	border: 1px solid #ccc;
}
.vr_form input[type="text"]:focus, .vr_form input[type="password"]:focus,
.vr_form input[type="email"]:focus {
	border-color: #aaa;
}
 
.vr_errors { padding: 8px; border: 1px solid #f50; margin: 0 0 15px; }